In [1]:
import numpy as np
import pandas as pd
#import pydotplus

from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier as DTC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz

C:\Users\Aditya\anaconda3\lib\site-packages\sklearn\externals\six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)

In [2]:
data = pd.read_csv("data.csv")
data

      Age  Income  Gender MaritialStatus Buys
0     <21    High    Male         Single   No
1     <21    High    Male        Married   No
2   21-35    High    Male         Single  Yes
3     >35  Medium    Male         Single  Yes
4     >35     Low  Female         Single  Yes
5     >35     Low  Female        Married   No
6   21-35     Low  Female        Married  Yes
7     <21  Medium    Male         Single   No
8     <21     Low  Female        Married  Yes
9     >35  Medium  Female         Single  Yes
10    <21  Medium  Female        Married  Yes
11  21-35  Medium    Male        Married  Yes
12  21-35    High  Female         Single  Yes
13    >35  Medium    Male        Married   No

In [3]:
le=LabelEncoder(); # converts categorical data to numerical data
x=data.iloc[:,:-1]
x=x.apply(le.fit_transform)
x

    Age  Income  Gender  MaritialStatus
0     1       0       1               1
1     1       0       1               0
2     0       0       1               1
3     2       2       1               1
4     2       1       0               1
5     2       1       0               0
6     0       1       0               0
7     1       2       1               1
8     1       1       0               0
9     2       2       0               1
10    1       2       0               0
11    0       2       1               0
12    0       0       0               1
13    2       2       1               0

In [4]:
y = data['Buys']

In [5]:
x = np.asarray(x)
x

array([[1, 0, 1, 1],
       [1, 0, 1, 0],
       [0, 0, 1, 1],
       [2, 2, 1, 1],
       [2, 1, 0, 1],
       [2, 1, 0, 0],
       [0, 1, 0, 0],
       [1, 2, 1, 1],
       [1, 1, 0, 0],
       [2, 2, 0, 1],
       [1, 2, 0, 0],
       [0, 2, 1, 0],
       [0, 0, 0, 1],
       [2, 2, 1, 0]])

In [6]:
y

0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: Buys, dtype: object

In [7]:
clf = DTC(max_depth = 2)
clf.fit(x, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=2, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [8]:
# final output
clf.predict([[1,1,0,0]])

array(['Yes'], dtype=object)

In [9]:
# Accuracy check.
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=1)

In [10]:
y_pred = clf.predict(x_test)
y_pred

array(['No', 'No', 'Yes', 'Yes', 'Yes'], dtype=object)

In [11]:
accuracy_score(y_test,y_pred)

0.8

In [ ]:
# dot_data = StringIO()
# export_graphviz(classifier, out_file = dot_data, filled = True, rounded = True, special_characters = True)
# graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
# graph.write('tree.png')